# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 * Python
 * R
 * SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pnadas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Hadoop|

### Below are few examples of evaluating arithematic expressions in python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
SARTHAK JAIN